// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.capitalized_category {
    text-transform: capitalize;
}

.post-list {
    > li {
      margin-bottom: 50px;
    }
  }

.highlight {
    border-radius: 3px;
    background-color: rgba(202,225,232,var(--bg-opacity));
    --bg-opacity: 0.25;
    @extend %vertical-rhythm;

    .highlighter-rouge & {
        background-color: rgba(202,225,232,var(--bg-opacity));
        --bg-opacity: 0.25;
    }
}
